*{
    margin:0;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(90deg,rgb(241, 104, 40),rgb(0, 0, 0));
    color: white;
}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: beige;
    margin-bottom: 1rem;
}
#new-task-form{
    display: flex;
}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#new-task-input{
    flex: 1 1 0%;
    background-color:beige ;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color:red ;
    font-size:1.25rem;
}
#new-task-submit{
    color: red;
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(90deg,rgb(175, 121, 121),rgb(211 174 22));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
#new-task-submit:hover{
opacity: 0.8;
}
#new-task-submit:active{
    opacity: 0.6;
}
main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task-list{
    padding: 1rem;
}
.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: gray;
    margin-bottom: 1rem;
}
#task .task{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
